<!DOCTYPE html>
<html lang="en">

<p style="text-align: center;"> </p>
<p> </p>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Transfer</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="styles.css") }}'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<img class='banner' style="width: auto; max-width: 100%;" src="{{url_for('static', filename='elements/banner.jpg')}}">
<form class="forms" action="/output" enctype="multipart/form-data" method="POST">

    <table style="width: 1645px; height: 243px; margin-left: auto; margin-right: auto;" cellspacing="20">
        <tbody>
            <tr>
                <td style="width: 781px;">
                    <h3 style="text-align: center;">Select CONTENT Image</h3>
                </td>
                <td style="width: 794px; text-align: right;">
                    <h3 style="text-align: center;">Select STYLE Image</h3>
                </td>
            </tr>
            <tr>
                <td style="width: 50%;">
                    <div class="file-upload">
                        <div class="file-select">
                            <div id="fileName" class="file-select-button">Choose File</div>
                            <!-- <div id="noFile" class="file-select-name">No file chosen...</div> -->
                            <input id="img1name" name="img1name" type="file" />
                        </div>
                    </div>

                </td>
                <td style="width: 50%;">
                    <div class="file-upload">

                        <div class="file-select">
                            <div id="fileName" class="file-select-button">Choose File</div>
                            <!-- <div id="noFile" class="file-select-name">No file chosen...</div> -->
                            <input id="img2name" name="img2name" type="file" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 781px; text-align: center;"><img class="input_img" id="img1" src="" /></td>
                <td style="width: 794px; text-align: center;"><img class="input_img" id="img2" src="" /></td>
            </tr>
        </tbody>
    </table>
    <center>
        <h3> </h3>
        <img class='hide' id='loader' src="{{url_for('static', filename='elements/loading.gif')}}">
        <div class="file-upload" id='submit-button'>
            <input id="submit-button" name="submit" type="submit"
                value="Do the magic!" onclick="onButtonClick('loader', 'submit-button')" />
        </div>
</form>
</center>

<script src="{{url_for('static', filename='index.js')}}"></script>

</html>