<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Transfer</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="styles.css") }}'>

</head>

<h1 style="text-align: center;">Isn't this just amazing??</h1>

<body>
    <form class="forms" method="POST" action="/">
        <p style="text-align: center;"></p>
        <!-- <div>
            <img id='banner' style="width: auto; 
        max-width: 100%; 
        position: absolute;
        top: 47.25%;
        left: 0%;
        z-index: 1;" src="{{url_for('static', filename='elements/output_banner.jpg')}}"> -->

            <img style="
        width: auto; 
        height: 50%; 
        border-image: url('output_banner.jpg') 30;"
        
        id='output_img' src='{{ url_for("static", filename="output.jpg") }}' />
        <!-- </div> -->
        <div style="text-align:center;">
            <input class="center" id="submit" name="submit" type="submit" value="I wanna do it again!" />
        </div>
    </form>
</body>